<header class="header">
  <div class="left-section">
    <button *ngIf="isSidebarEnabled" (click)="toggleSidebar()" class="toggle-sidebar-button">
      {{ isSidebarExpanded ? 'Collapse Sidebar' : 'Expand Sidebar' }}
    </button>
    <nav>
      <ul>
        <ng-container *ngFor="let page of pages">
          <li *ngIf="page.enabled">
            <a [routerLink]="page.link">{{ page.name }}</a>
          </li>
        </ng-container>
      </ul>
    </nav>
  </div>
  <app-language-switcher></app-language-switcher>

</header>

